#paraDiv.hidden, #boardDiv.hidden
{
    display: none;
}

body
{
    display: flex;
    flex-direction: column;
    background-color: darkgreen;
}

label, p, h1
{
    color: lightgreen;
}

h1
{
    align-self: center;
}

/* page and score */
#page
{
    display: flex;
    justify-content: center;   
}

/* paras */
#paraDiv
{
    display: flex;
    flex-direction: column;
}

input
{
    align-self: center;
    margin-bottom: 3vh;
}

label
{
    align-self: center;
}

#playButton
{
    align-self: center;
    margin-top: 2vh;
}

#scoreSection
{
    margin-left: 8vw;
}