#page
{
    display: flex;
    justify-content: space-evenly;
}

.hidden
{
    visibility: hidden;
}


/* Formulaire paramètre du jeu */
#paras
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#formLevel, #formColorSnake
{
    margin: 2vw;
}

#formButtonPlay
{
    display: flex;
    justify-content: space-evenly;
}

#score
{
    display: flex;
    flex-direction: column;
}

.itemScore
{
    align-self: center;
    margin: 0;
    padding-top: 1vh;
}
/* Page de jeu */
#gamePage
{
    display: flex;
}
#score
{
    margin-left: 1vw;
}